* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: white;
}

hr {
  margin: 1rem 0;
}

li {
  list-style-type: none;
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5 ease;
  background-color: rgba(255, 255, 255, 0.2);
}

.container {
  background-color: #d9530b;
  width: 32rem;
  padding: 2rem;
  margin: 2rem;
}

.btn_action {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem;
}
input[type="checkbox"] {
  cursor: pointer;
  padding: 1rem;
  position: relative;
  top: 0.15rem;
}
.done {
  opacity: 0.6;
  text-decoration: line-through;
}
.complete {
  display: none;
}

.filter_wrapper {
  display: flex;
  justify-content: center;
}
.form {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.form input {
  flex-grow: 1;
  border: none;
  border-radius: 0.125rem;
  padding: 0 0.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  color: black;
}
button {
  border: solid 0.125rem white;
  border-radius: 0.125rem;
  height: 2.5rem;
  padding: 0 1rem;
  background-color: #d9530b;
}
button:hover {
  filter: brightness(200%);
}
